<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="robot_0_name" value="robot_0"/>
    <arg name="robot_0_number" value="0"/>
    <arg name="robot_0_x_pos" default="-4.0"/>
    <arg name="robot_0_y_pos" default="4.5"/>
    <arg name="robot_0_z_pos" default="0.0"/>
    <arg name="robot_0_yaw" default="0.0"/>
    <arg name="robot_0_fpp" default="0.2"/>
    <arg name="robot_0_fnp" default="0.2"/>

    <arg name="robot_1_name" value="robot_1"/>
    <arg name="robot_1_number" value="1"/>
    <arg name="robot_1_x_pos" default="3.0"/>
    <arg name="robot_1_y_pos" default="2.5"/>
    <arg name="robot_1_z_pos" default="0.0"/>
    <arg name="robot_1_yaw" default=" 0.0"/>
    <arg name="robot_1_fpp" default="0.2"/>
    <arg name="robot_1_fnp" default="0.2"/>

    <arg name="gui" default="true"/>

    <arg name="spawn_interval" default="100"/>
    <arg name="num_scan_aggregation" default="5"/>
    <arg name="no_of_robots" default="2"/>

    <arg name="sl_operator" default="CBF"/>
    <arg name="sl_threshold" default="80"/>
    <arg name="sl_classpath" default="-Djava.class.path=/home/ubuntu/Desktop/Aggregatio/subjective_logic/build/libs/subjective-logic-java-library-0.1.0.jar"/>
    <arg name="use_sl" default="false"/>
    <arg name="sensor_noise" default="false"/>
    <arg name="adaptive_scheduling" default="true"/>
    <arg name="gen_seed" default="100"/>
    <arg name="false_positive" default="true"/>
    <arg name="false_negative" default="true"/>
    <arg name="fp_timeout" default="120"/>


    <param name="/initial_no_of_robots" value="$(arg no_of_robots)"/>
    <param name="/use_subjective_logic" value="$(arg use_sl)"/>

    <node pkg="rosbag" type="record" name="rosbag_record_all" args="record -o multirobot_cleaning /new_dirt /goal_attained /new_goal"/>

    <!-- launch simulation -->
    <include file="$(find launch_simulation)/launch/simulation_multi_robot.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="noise" value="$(arg sensor_noise)"/>
        
	<arg name="tb3_0" value="$(arg robot_0_name)"/>
        <arg name="tb3_0_x_pos" value="$(arg robot_0_x_pos)"/>
        <arg name="tb3_0_y_pos" value="$(arg robot_0_y_pos)"/>
        <arg name="tb3_0_z_pos" value="$(arg robot_0_z_pos)"/>
        <arg name="tb3_0_yaw" value="$(arg robot_0_yaw)"/>

        <arg name="tb3_1" value="$(arg robot_1_name)"/>
        <arg name="tb3_1_x_pos" value="$(arg robot_1_x_pos)"/>
        <arg name="tb3_1_y_pos" value="$(arg robot_1_y_pos)"/>
        <arg name="tb3_1_z_pos" value="$(arg robot_1_z_pos)"/>
        <arg name="tb3_1_yaw" value="$(arg robot_1_yaw)"/>
    </include>

    <!-- launch both robots -->
    <include file="$(find robot_meta)/launch/robot_meta.launch">
        <arg name="robot_id" value="$(arg robot_0_name)"/>
    	<arg name="robot_number" value="$(arg robot_0_number)"/>
        <arg name="x" value="$(arg robot_0_x_pos)"/>
        <arg name="y" value="$(arg robot_0_y_pos)"/>
        <arg name="yaw" value="$(arg robot_0_yaw"/>
        <arg name="bid_topic" value="/bid"/>
        <arg name="new_goal_topic" value="/new_goal"/>
        <arg name="confirmation_topic" default="/confirmation"/>
        <arg name="noise" value="$(arg sensor_noise)"/>
        <arg name="adaptive_scheduling" value="$(arg adaptive_scheduling)"/>
        <arg name="false_positive" value="$(arg false_positive)"/>
        <arg name="false_negative" value="$(arg false_negative)"/>
    	<arg name="false_negative_prob" value="$(arg robot_0_fnp)"/>
    	<arg name="num_scan_aggregation" value="$(arg num_scan_aggregation)"/>
    </include>
    <include file="$(find robot_meta)/launch/robot_meta.launch">
        <arg name="robot_id" value="$(arg robot_1_name)"/>
    	<arg name="robot_number" value="$(arg robot_1_number)"/>
        <arg name="x" value="$(arg robot_1_x_pos)"/>
        <arg name="y" value="$(arg robot_1_y_pos)"/>
        <arg name="yaw" value="$(arg robot_1_yaw"/>
        <arg name="bid_topic" value="/bid"/>
        <arg name="new_goal_topic" value="/new_goal"/>
        <arg name="confirmation_topic" default="/confirmation"/>
        <arg name="noise" value="$(arg sensor_noise)"/>
        <arg name="adaptive_scheduling" value="$(arg adaptive_scheduling)"/>
        <arg name="false_positive" value="$(arg false_positive)"/>
        <arg name="false_negative" value="$(arg false_negative)"/>
    	<arg name="false_negative_prob" value="$(arg robot_1_fnp)"/>
    	<arg name="num_scan_aggregation" value="$(arg num_scan_aggregation)"/>
    </include>

    <!-- launch global management nodes-->

    <node pkg="map_transformer" type="map_transformer_node.py" name="map_transformer" output="screen"/>

    <node pkg="robot_pose_publisher" type="PosePublisher.py" name="robot_pose_publisher" output="screen"/>

    <node pkg="goal_manager" type="GoalManager.py" name="goal_manager" output="screen">
        <param name="subjective_logic_operator" value="$(arg sl_operator)"/>
        <param name="sl_threshold" value="$(arg sl_threshold)"/>
        <param name="sl_classpath" value="$(arg sl_classpath)"/>
        <param name="false_positive" value="$(arg false_positive)"/>
        <param name="fp_timeout" value="$(arg fp_timeout)"/>
    </node>

    <node pkg="dirt_generator" type="DirtGenerator.py" name="dirt_generator" output="screen">
        <param name="seed" value="$(arg gen_seed)"/>
        <param name="spawn_interval" value="$(arg spawn_interval)"/>
        <param name="robot_0_fpp" value="$(arg robot_0_fpp)"/>
        <param name="robot_1_fpp" value="$(arg robot_1_fpp)"/>
        <param name="false_positive" value="$(arg false_positive)"/>
        <param name="no_of_robots" value="$(arg no_of_robots)"/>
    </node>

    <include file="$(find task_allocator)/launch/task_allocator.launch">
        <arg name="bid_topic" value="/bid"/>
        <arg name="confirmation_topic" value="/confirmation"/>
    </include>
</launch>
